!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title= page_title
    %meta{:content => page_description, :name => "description"}
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/images/favicon.ico"}

    %meta{:content => "width=device-width", :name => "viewport"}

    %meta{:property => "og:title", :content => page_title}
    %meta{:property => "og:description", :content => page_description}
    %meta{:property => "og:image", :content => page_image}

    %meta{name: "twitter:card", content: "summary" }
    %meta{name: "twitter:site", content: "@geoffreylitt" }
    %meta{name: "twitter:title", content: page_title }
    %meta{name: "twitter:description", content: page_description }
    %meta{name: "twitter:image", content: page_image }

    = javascript_include_tag "vendor/modernizr-2.6.1.min"
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    = stylesheet_link_tag "https://use.typekit.net/goh5xrk.css"

  %body
    .site-container
      /[if lt IE 10] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
      %header
        %a.logo{:href => '/'}
          = image_tag 'headshot.jpg', :width => '100%'
        %nav
          %h1.name
            %a{:href => '/'} Geoffrey Litt
          %ul.sections
            %li
              %a{:href => '/#projects'} Projects
            %li
              %a{:href => '/#writing'} Writing
          .subscribe-header
            Subscribe:
          %ul.subscribe-links
            %li
              %a{:href => 'http://www.twitter.com/geoffreylitt'}
                Twitter
                %i.fa.fa-twitter
            %li
              %a{:href => '/feed.xml'}
                RSS
                %i.fa.fa-rss
          .subscribe-header
            Contact
          %ul.subscribe-links
            %li
              %a{:href => 'mailto:gklitt@gmail.com'}
                Email
                %i.fa.fa-envelope

      .main_container
        .main= yield

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38867184-1', 'auto');
      ga('send', 'pageview');
