%h3 Blog

.blogposts-list
  - blog.tags.each do |tag, articles|
    %h4= tag.titleize
    - articles.reject{ |a| a.data[:hidden] }.each_with_index do |article, i|
      .blogpost-link
        = link_to article.title, article
    
    / Also link to tools projects from the "blog"
    / (at some point, just combine the two?)
    - if tag == "programming tools"
      - projects = data.projects.projects.programming_interfaces
      - projects.each do |project|
        .blogpost-link
        = link_to "#{project.name}: #{project.description}", (project.link || "/projects/#{project.slug}.html")
      %div{style: "max-width: 700px;"}
        = partial(:subscribe)
  %h4 Miscellaneous
  - blog.articles.select { |a| (a.tags.nil? || a.tags == []) && !a.data[:hidden] }.each do |article|
    .blogpost-link
      = link_to article.title, article
%br
