- projects = data.projects.projects
- interviews = data.interviews.interviews

.home-body-text
  :markdown
    Welcome! I work on *malleable software*: computing environments where anyone can adapt their software to meet their needs with minimal friction. To see what that means to me, read [this essay](https://www.inkandswitch.com/essay/malleable-software/) or listen to [this interview](https://jacksondahl.com/dialectic/geoffrey-litt).

    I'm also tinkering with AI-assisted programming, which I think can help usher in a [new era of personal software tools](/2023/03/25/llm-end-user-programming.html), help programmers [have more fun](/2024/12/22/making-programming-more-fun-with-an-ai-generated-debugger.html), and [create new interaction patterns](/2023/07/25/building-personal-tools-on-the-fly-with-llms.html) for working with software.

    I currently work at [Notion](https://www.notion.com/). Previously I was a senior researcher at the independent research lab [Ink & Switch](https://www.inkandswitch.com/), and I did a PhD in HCI at MIT advised by [Daniel Jackson](http://people.csail.mit.edu/dnj/). Earlier in my career I did design and engineering at [startups](https://www.panoramaed.com/). My core skill is designing and prototyping environments for thinking.

    You can reach me via [email](mailto:gklitt@gmail.com). I enjoy hearing from people making cool stuff! I also do a bit of startup advising for companies related to my work.

    If you'd like to hear occasional updates on my work, you can [subscribe to my email newsletter](https://buttondown.email/geoffreylitt) or [follow via RSS](/feed.xml).

%a{id: "projects"}
.project-grids
  %h2.project-category Malleable Software
  = partial(:project_grid, locals: { projects: projects.malleable })

  %h2.project-category Programming Interfaces
  = partial(:project_grid, locals: { projects: projects.live_programming })

%a{id: "writing"}
%h2.project-category Writing

.blogposts-list
  - page_articles.reject{ |a| a.data[:hidden] }.each_with_index do |article, i|
    .blogpost-link
      - if article.data[:starred]
        = link_to article.title, article, class: 'starred'
      - else
        = link_to article.title, article

%a{id: "podcasts"}
%h2.project-category Interviews

.blogposts-list
  - interviews.each do |interview|
    .blogpost-link
      = link_to interview.name, interview.link

%a{id: "contact"}
%h2.project-category Contact me
.home-body-text
  :markdown
    **Please reach out** if you're interested in chatting about ideas, or if I might be able to help you in some way. You can contact me via [email](mailto:gklitt@gmail.com) or on [Twitter](http://www.twitter.com/geoffreylitt).

%div{style: "max-width: 700px;"}
  .subscribe
    %h4 Subscribe
    I periodically write about programming tools, end-user programming, and software design. To get updates about new posts:

    .subscribe-links
      %div
      %a{href: 'https://buttondown.email/geoffreylitt', style: "margin-right: 15px;" }
        %i.fa.fa-envelope
        Join my email newsletter

      %a{href: 'http://www.twitter.com/geoffreylitt', style: "margin-right: 15px;" }
        %i.fa.fa-twitter
        Follow me on Twitter

      %a{:href => '/feed.xml' }
        %i.fa.fa-rss
        Subscribe via RSS

<h1 class="the-archive">📦 The Archive... <span class="small">(older work less immediately relevant to my current interests)</span></h1>

.project-grids
  %h2.project-category Local-First Software
  = partial(:project_grid, locals: { projects: projects.local_first })

  %h2.project-category Programming interface explorations
  = partial(:project_grid, locals: { projects: projects.explorations })

  %h2.project-category Conference Talks
  = partial(:project_grid, locals: { projects: projects.talks })

  %h2.project-category Other software projects
  = partial(:project_grid, locals: { projects: projects.other })

  %h2.project-category Data visualization / NLP
  = partial(:project_grid, locals: { projects: projects.dataviz })

  %h2.project-category Hardware / Electrical Engineering
  = partial(:project_grid, locals: { projects: projects.hardware })
