- projects = data.projects.projects

.project-grids
  %h2.project-category Programming tools
  = partial(:project_grid, locals: { projects: projects.programming_interfaces })

  %h2.project-category Data visualization / NLP
  = partial(:project_grid, locals: { projects: projects.dataviz })

  %h2.project-category Hardware / Electrical Engineering
  = partial(:project_grid, locals: { projects: projects.hardware })

  %h2.project-category Other projects
  = partial(:project_grid, locals: { projects: projects.other })

  %h2.project-category Conference Talks
  = partial(:project_grid, locals: { projects: projects.talks })
