- projects = data.projects.projects


.home-body-text
  :markdown
    Hi, I'm Geoffrey. I want to make programming radically more accessible, so that everyone can build and tweak their own software. I'm pursuing a PhD in Computer Science at MIT to work towards this goal.
    
    These days, I'm hacking on [Wildcard](http://sdg.csail.mit.edu/projects/wildcard), a platform that empowers anyone to build a browser extension without needing to learn HTML and Javascript. I've also built debugging tools for developers, like [Margin Notes](/margin-notes) and [Ladybug](/projects/ladybug.html).

    To get occasional updates about my work, [follow me on Twitter](https://www.twitter.com/geoffreylitt) or [subscribe via RSS](/feed.xml).

    Previously, I was an early engineer at [Panorama Education](http://www.panoramaed.com) (YC S13), an edtech startup building data analytics software for K-12 schools. Over five years, I helped grow Panorama into a leading education platform that serves 10 million students.

    Here are some things I've made:

  %a{id: "projects"}
.project-grids
  %h2.project-category Programming tools
  = partial(:project_grid, locals: { projects: projects.programming_interfaces })

  %h2.project-category Data visualization / NLP
  = partial(:project_grid, locals: { projects: projects.dataviz })

  %h2.project-category Hardware / Electrical Engineering
  = partial(:project_grid, locals: { projects: projects.hardware })

  %h2.project-category Other projects
  = partial(:project_grid, locals: { projects: projects.other })

  %h2.project-category Conference Talks
  = partial(:project_grid, locals: { projects: projects.talks })

%a{id: "writing"}
%h2.project-category Writing

.blogposts-list
  - page_articles.reject{ |a| a.data[:hidden] }.each_with_index do |article, i|
    .blogpost-link
      = link_to article.title, article


%a{id: "inspiration"}
%h2.project-category Inspirations

.home-body-text
  :markdown
    Here's a very incomplete list of people whose work I've found inspirational. If your taste is similar to mine, maybe you'll get some inspiration from their work too.

    * [Bret Victor](http://worrydream.com/LearnableProgramming/)
    * [Alan Kay](https://www.youtube.com/watch?v=oKg1hTOQXoY&feature=youtu.be)
    * [Chris Granger](http://www.chris-granger.com/2014/03/27/toward-a-better-programming/)
    * [Jonathan Edwards](https://alarmingdevelopment.org/?p=1145)
    * [Kerry Chang](https://www.cs.cmu.edu/~shihpinc/gneiss.html)
    * [Doug Engelbart](http://www.dougengelbart.org/content/view/209/448/)
    * [Daniel Jackson](http://people.csail.mit.edu/dnj/)
    * [Neil Postman](https://en.wikipedia.org/wiki/Amusing_Ourselves_to_Death)
    * [Seymour Papert](https://en.wikipedia.org/wiki/Mindstorms_(book))
    * [Cyrus Omar](https://hazel.org/)
    * [Brad Myers](http://www.cs.cmu.edu/~bam/)
    * [Elena Glassman](https://eglassman.github.io/examplore/)
    * [Glen Chiacchieri](http://glench.com/LegibleMathematics/)
    * [Amy Ko](https://www.cs.cmu.edu/~NatProg/whyline-java.html)
    * [Michael Nielsen](https://distill.pub/2017/aia/)
    * [Lea Verou](https://mavo.io/)

%a{id: "contact"}
%h2.project-category Contact me
.home-body-text
  :markdown
    **Please reach out** if you're interested in chatting about ideas, or if I might be able to help you in some way. You can contact me via [email](mailto:gklitt@gmail.com) or on [Twitter](http://www.twitter.com/geoffreylitt).


%div{style: "max-width: 700px;"}
  .subscribe
    %h4 Subscribe
    I periodically write about programming tools, end-user programming, and software design. To get updates about new posts:

    .subscribe-links
      %div
      %a{href: 'http://www.twitter.com/geoffreylitt', style: "margin-right: 15px;" }
        %i.fa.fa-twitter
        Follow me on Twitter
          
      %a{:href => '/feed.xml' }
        %i.fa.fa-rss
        Subscribe via RSS