- projects = data.projects.projects

.home-body-text
  :markdown
    I'm researching ways to give people more agency in computing, so they can compose, tweak, and even build their own tools, even if they don't have programming skills. Some of my affiliations:

    - I'm a CS PhD student at MIT, in the [Software Design Group](http://sdg.csail.mit.edu/).
    - I regularly work with the industrial research lab [Ink & Switch](https://www.inkandswitch.com/).
    - Previously, I helped build the edtech startup [Panorama Education](https://www.panoramaed.com/) (YC S13).

    These days, I'm thinking a lot about:

    - **gradual enrichment**: growing simple text documents into interactive applications, as in [Potluck](https://inkandswitch.com/potluck)
    - **AI in end-user programming**: how can LLMs help people customize software or create new tools? Some [preliminary thoughts](/2022/11/23/dynamic-documents.html)
    - **reactive UI**: simplifying UI development by deeply integrating UI with a fast relational database, in the [Riffle](https://riffle.systems/essays/prelude) project

    Let me know if you'd like to chat about any of those topics!

    If you'd like to hear about my future work, you can [subscribe to occasional email updates](https://buttondown.email/geoffreylitt). I'm also active on [Twitter](https://www.twitter.com/geoffreylitt) and [Mastodon](https://mastodon.social/@geoffreylitt) and have an [RSS feed](/feed.xml).



  %a{id: "projects"}
.project-grids
  %h2.project-category Projects
  = partial(:project_grid, locals: { projects: projects.programming_interfaces })

  %h2.project-category Experiments
  = partial(:project_grid, locals: { projects: projects.explorations })

%a{id: "writing"}
%h2.project-category Writing

.blogposts-list
  - page_articles.reject{ |a| a.data[:hidden] }.each_with_index do |article, i|
    .blogpost-link
      - if article.data[:starred]
        = link_to article.title, article, class: 'starred'
      - else
        = link_to article.title, article

%a{id: "contact"}
%h2.project-category Contact me
.home-body-text
  :markdown
    **Please reach out** if you're interested in chatting about ideas, or if I might be able to help you in some way. You can contact me via [email](mailto:gklitt@gmail.com) or on [Twitter](http://www.twitter.com/geoffreylitt).

%div{style: "max-width: 700px;"}
  .subscribe
    %h4 Subscribe
    I periodically write about programming tools, end-user programming, and software design. To get updates about new posts:

    .subscribe-links
      %div
      %a{href: 'https://buttondown.email/geoffreylitt', style: "margin-right: 15px;" }
        %i.fa.fa-envelope
        Join my email newsletter

      %a{href: 'http://www.twitter.com/geoffreylitt', style: "margin-right: 15px;" }
        %i.fa.fa-twitter
        Follow me on Twitter

      %a{:href => '/feed.xml' }
        %i.fa.fa-rss
        Subscribe via RSS

<h1 class="the-archive">📦 The Archive... <span class="small">(older work less relevant to my current interests)</span></h1>

.project-grids
  %h2.project-category Conference Talks
  = partial(:project_grid, locals: { projects: projects.talks })

  %h2.project-category Other software projects
  = partial(:project_grid, locals: { projects: projects.other })

  %h2.project-category Data visualization / NLP
  = partial(:project_grid, locals: { projects: projects.dataviz })

  %h2.project-category Hardware / Electrical Engineering
  = partial(:project_grid, locals: { projects: projects.hardware })