- projects = data.projects.projects

.project-grids
  %h2.project-category{style: "background-color: #e8ffca"} Programming tools
  = partial(:project_grid, locals: { projects: projects.programming_interfaces })

  = partial(:subscribe)

  %h2.project-category{style: "background-color: #d9f6ff"} Data visualization / NLP
  = partial(:project_grid, locals: { projects: projects.dataviz })

  %h2.project-category{style: "background-color: #ffe6e6"} Hardware / Electrical Engineering
  = partial(:project_grid, locals: { projects: projects.hardware })

  %h2.project-category{style: "background-color: #f0e2ff"} Other projects
  = partial(:project_grid, locals: { projects: projects.other })

  %h2.project-category{style: "background-color: #aeffe9"} Conference Talks
  = partial(:project_grid, locals: { projects: projects.talks })